/* index.htm */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --acent-color: #2196F3;
    --filter-background-color: #F5F4FA;
}

/* колір основного тексту #212121 */
/* вторинний колір тексту #757575 */
/* акцент - синій #2196F3 */
/* основний колір фону білий #FFFFFF*/
/* рамка контейнера 1px solid #EEEEEE  */
/* білий з прозорістю rgba(255, 255, 255, 0.6) */

/* body */
.page {
    background-color:var(--hero-text-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* logo */
.logo-link {
    color: var(--acent-color);
}

.logo-header {
    color: var(--title-text-color);
}
.logo-link .logo-header:hover,
.logo-link .logo-header:focus {
    color: var(--acent-color);
}

/* site-nav */
.link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--acent-color);
}

.site-nav .link.current {
    color: var(--acent-color);
}

.contact-nav a {
    color: var(--title-text-color);
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--acent-color);
}

/* main */
.hero-title {
    color: var(--hero-text-color);
}

/* button */
.hero .button {
    color: var(--hero-text-color);
    background-color: var(--acent-color);

    font-size: ;
    padding: ;
    display: ;
    border: ;
}

/* benefits */
.section-title {
    color: var(--title-text-color);
}

.benefit-list .title {
    color: var(--title-text-color);
}

.benefit-list .text {
    color: var(--primary-text-color);
}

/* team */
.team .title {
    color: var(--title-text-color);
}

.team .text {
    color: var(--primary-text-color);
}

/* footer */
.logo-link {
    color: var(--acent-color);
}

.logo-footer {
    color: var(--hero-text-color);
}

.logo-link .logo-footer:hover,
.logo-link .logo-footer:focus {
    color: var(--acent-color);
}

/* adress */
.location {
    color: var(--hero-text-color);
}

.coordinates .title {
    color: rgba(255, 255, 255, 0.6);;
}

.coordinates .location:hover,
.coordinates .location:focus {
    color: var(--acent-color);
}

.coordinates .title:hover,
.coordinates .title:focus {
    color: var(--acent-color);
}

/* portfolio.html */
.page {
    background-color: var(--hero-text-color);
    color: var(--title-text-color);
}

/* filter */
.filter-nav .button {
    color: var(--title-text-color);
    background-color: var(--filter-background-color);
}

.filter-nav .button:hover,
.filter-nav .button:focus {
    color: var(--acent-color);
}

/* Examples */
.works .title {
    color: var(--title-text-color);
}

.works .text {
    color: var(--primary-text-color);
}


/* колір основного тексту #212121 */
/* вторинний колір тексту #757575 */
/* акцент - синій #2196F3 */
/* основний колір фону білий #FFFFFF*/
/* рамка контейнера 1px solid #EEEEEE  */
/* білий з прозорістю rgba(255, 255, 255, 0.6) */